/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#openFile {
	-fx-background-image: url("../Images/folder.png");
	-fx-background-size: 47 40;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#openFile:hover {
	-fx-pref-width: 60;
	-fx-pref-height: 50;
	-fx-background-size: 58 50;
}

#playButton {
	-fx-background-image: url("../Images/play_button.png");
	-fx-background-size: 40 40;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#pauseButton {
	-fx-background-image: url("../Images/pause_button.png");
	-fx-background-size: 40 40;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#stopButton {
	-fx-background-image: url("../Images/stop_button.png");
	-fx-background-size: 40 40;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#playButton:hover,  #pauseButton:hover, #stopButton:hover{
	-fx-pref-width: 55;
	-fx-pref-height: 55;
	-fx-background-size: 50 50;
}

#subtitleText {
	-fx-background-color: transparent;
}